<h1>Listing invites</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |event| %>
      <tr>
        <td><%= link_to 'Show', invites %></td>
        <td><%= link_to 'Edit', edit_invites_path(event) %></td>
        <td><%= link_to 'Destroy', invites, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
